.imgReward {
    width: 200px;
    height: 200px;
}

.ImgThumbnails {
    position: relative;
    width: 100px;
    height: 130px;
    border-width: 1px;
    border-color: Black;
    border-style: double;
}

.noScroll {
    border:1px solid black;
    overflow: hidden;
}