html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Roboto', sans-serif;
}

.div-languages{
  margin-top: -46%;
  margin-left: -12%;
  position: absolute;
  box-shadow: 5px 6px 5px grey;
}

.img-spanish{
  background-image: url('../public/images/spanish.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 20px;
}

.img-english{
  background-image: url('../public/images/english.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 20px;
}

.ul-menu{
  margin-top: -25% !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="div-languages"] {
    margin-top: -45%;
    margin-left: -14%;
  }
  [class*="ul-menu"] {
    margin-top: 0% !important;
  }
}

@media only screen and (min-width: 1300px) {
  [class*="div-languages"] {
    margin-top: -45%;
    margin-left: -7%;
  }
  [class*="ul-menu"] {
    margin-top: 0% !important;
  }
}